# Ignore every file.
*

# Except for all other directories & subdirectories
!**/

# In every subdirectory, avoid ignoring files with the following extensions.

# Make an exception to ignore specific directories
# Most of these directories are brought in by executing git_bootstrap.
/.tempChromeProfileForDebug

